.App {
  text-align: center;
  overflow: hidden;
  text-shadow: 0px 1px grey !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3e4551;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.imgTest {
  height: 100%;
  width: 100%;
}

.topMargin {
  margin-top: 20px;
}

.cardBG {
  background: linear-gradient(to bottom right,  cyan, #4C52FF );
}
.whiteText {
  color: #fff;
}
